body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px
}
i {
  font-size: x-large;
  color: #fff;
}
.container {
  width: 415px;
  max-width: 420px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
 
  

}
.sub_container {
  background-color: rgb(43, 42, 42);
  border-radius: 10px;
   position:relative;
  bottom:130px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
  position:relative;
  bottom:270px;
}

.back-arrow {
  cursor: pointer;
  font-size: 22px;
}

.title {
  font-size: 22px;
  margin: 0;
  font-weight: 600;
}

.info-icon {
  cursor: pointer;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  padding-top:20px
}

.profile-pic {
  background-color: #1e88e5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
}

.profile-name {
  font-size: 19px;
  font-weight: bold;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.amount {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: rgb(70, 69, 69);
  border-radius: 3px;
  margin: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.message-box {
  background-color: #4a148c;
  padding: 5px;
  margin: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  border-radius: 11px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

.message-box .label {
  font-size: 12px;
  color: #fff;
  margin: 0;
}

.message-box .value {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.note {
  font-size: 19px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 800;
}

.pay-btn {
  background-color: #9c27b0;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  top:20px;
}

.pay-btn:hover {
  background-color: #8e24aa;
}
.opening_phonepay {
  height: 1500px;
  width: 410px;
  
  
 
  
}
img {
  position: relative;
  top: 750px;
  left: 140px;
  width: 100px;
  border-radius:30px;
}
@keyframes dot_blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dot {
  position: relative;
  left: 200px;
  width: 30px;
  rotate: 270deg;
  margin: 0px;
  top:430px;
}
#dot1 {
  font-size: 50px;
  font-weight: 900px;
  color: #ffffff;
  position: relative;
  top: 70px;
  right: 140px;
  animation: dot_blinking 0.9s infinite;
}
#dot2 {
  font-size: 50px;
  font-weight: 900px;
  color: #ffffff;
  position: relative;
  bottom: 70px;
  right: 140px;
  animation: dot_blinking 1s infinite;
}
#dot3 {
  font-size: 50px;
  font-weight: 900px;
  color: #fff;
  position: relative;
  bottom: 115px;
  right: 140px;

  animation: dot_blinking 1.1s infinite;
}
.hidden{
  display:none;
}
