body {
  background-color: #f5f7fa;
  max-width:410px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  width:  390px;
  border-radius:20px;
}
.hide {
  background-color: #ffffff;
  display: none;
}

.display_img {
  height: 915px;
  width: 420px;
}
.nav_img {
  height: 80px;
  width: 70px;
}
.nav_heading {
  position: relative;
  right: 70px;
  font-size: 35px;
  color: #3060b6;
}
.nav_profile {
  height: 50px;
  width: 75px;
}


.input_container {
  margin-top: 20px;
  margin-left: 10px;
  height: 80px;
  width: 390px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.input_1 {
  height: 50px;
  width: 390px;
  border-radius: 60px;
  position: relative;
  top: 13px;
  outline: none;
  border: none;
  background-color: rgb(228, 221, 221);
  font-size: 25px;
}
.fa-magnifying-glass {
  position: relative;
  right: 170px;
  bottom: 25px;
  z-index: 2;
  color: #222;
  font-size: 24px;
}
.tickets_menu {
  height: 170px;
  width: 390px;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  position: relative;
  top: 20px;
  border-radius: 10px;
  
  border:none;
}
#text {
  position: relative;
  top: 73px;
  font-size: 18px;
  font-weight:900;
}
.bus_ticket {
  height: 80px;
  width: 80px;
  background-color: #e6f5ff;
}
.metro_ticket {
  height: 80px;
  width: 80px;
  background-color: #e6f5ff;
}

.daily_pass {
  height: 80px;
  width: 80px;
  background-color: #e6f5ff;
}

.monthly_pass {
  height: 80px;
  width: 80px;
  background-color: #e6f5ff;
}
.img_container {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 15px;
  bottom: 134px;
}
.img1 {
  height: 40px;
  position: relative;
  right: 0px;
}
.img2 {
  height: 40px;
  position: relative;
  left: 2cqmax;
}
.img3 {
  height: 40px;
  position:relative;
  left: 20px;
}
.img4 {
  height: 40px;
  position: relative;
  left: 19px;
}
.img5 {
  height: 10px;
  width: 80px;
  position: relative;
  bottom: 203px;
  left: 117px;
}
.img6 {
  height: 10px;
  width: 80px;
  position: relative;
  bottom: 203px;
  left: 227px;
}
.wallet {
  height: 80px;
  width: 177px;
  background-color: #3b62a0;
  border-radius: 10px;
}
.other_menu {
 display:flex;
 justify-content:space-around;
 position:relative;
 bottom:50px;
 width:393px;
 margin-left:5px;
}
.text1 {
  position: relative;
  width: 50px;
  bottom: 214px;
  left: 65px;
  font-size: 25px;
  color: rgb(218, 218, 6);
  font-weight: 900;
}
.img7 {
 
  height: 50px;
  width: 50px;
  position: relative;
  bottom: 146px;
  left: 9.5px;
}
.img8 {
  height: 70px;
  width: 70px;
  position: relative;
  bottom: 135px;
  left: 158px;

}
.img9 {
  height: 80px;
  width: 80px;
  position: relative;
  bottom: 130px;
  left: 180px;
    
}
.route_info {
  height: 80px;
  width: 95px;
  background-color: #e6f5ff;
  border-radius: 10px;
  
}
.see_all {
  height: 80px;
  width: 94px;
  background-color:#e6f5ff;
  border-radius: 10px;
 
}
a{
    text-decoration: none;
    color:black;
}
.metro_ad{
 width:390px;
 margin-left:10px;

}
.ad {
  position: relative;
  bottom: 155px;
  width: 390px;
}
.bus_ticket_container{
  position:relative;
  bottom:150px;
  margin-left:10px;
  width:390px;                                                                                             
}
#view_all_tickets{
  position:relative;
  bottom:40px;
  left:275px;
  width:120px;
}
.ticket_message{
  background-color:#c1e0f5;
  height:40px;
  font-size:18px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  bottom:30px;
  border-radius:10px;
}

.metro_ticket_container{
  position:relative;
  bottom:180px;
  margin-left:10px;
  width:390px;                                                                                             
}
#view_all_tickets_metro{
  position:relative;
  bottom:40px;
  left:275px;
  width:120px;
}
.ticket_metro_message{
  background-color:#c1e0f5;
  height:40px;
  font-size:18px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  bottom:30px;
  border-radius:10px;
}
.bus_pass_container{
  position:relative;
  bottom:210px;
  margin-left:10px;
  width:390px;                                                                                             
}
#view_all_passes{
  position:relative;
  bottom:40px;
  left:275px;
  width:120px;
}
.pass_message{
  background-color:#c1e0f5;
  height:40px;
  font-size:18px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  bottom:30px;
  border-radius:10px;
}
.nearest_stop_container{
  height:100px;
  width:390px;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:center;
  background-color:rgb(193, 185, 185);
  margin-left:10px;
  border-radius:10px;
  position:relative;
  bottom:240px;
}
#nearest_stop{
  position:relative;
  bottom:240px;
}
#see_more_buses{
  width:150px;
  position:relative;

  bottom:10px;
  left:145px;
}
#direction{
  margin-right:10px;
}
#sagarpur{
  width:190px;
}
.bus_ticket_page{
  height:915px;
  width:420px;
  background-color:red;
}
@keyframes blinking_effect{
  0% {opacity:1;}
  50% {opacity:0;}
  100% {opacity:1;}
}
.new_animation{
  position:relative;
  bottom:1235px;
  left:135px;
  background-color:rgb(239, 82, 82);
  height:20px;
  width:40px;
  text-align:center;
  border-radius:6px;
  animation: blinking_effect 1s infinite;
}
.new_animation2{
  position:relative;
  bottom:1270px;
  left:332px;
  background-color:rgb(239, 82, 82);
  height:20px;
  width:40px;
  text-align:center;
  border-radius:6px;
  animation: blinking_effect 1s infinite;
}
.metro_ticket_page{
  height:915px;
  width:420px;
 background-color:aquamarine;
}
button{
  border:none;
  background-color:transparent
}
