body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
i{
    font-size:x-large;
    color:#fff;
}
.phone {
  width: 390px;
  height: 915px;

  
  background: #f36f3f;
  
  position: relative;
  top:49px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.top-bar {
  background: #f36f3f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  font-size: 16px;
  
}
#ticket-details{
    position:relative;
  right:50px
}
.card {
  background: white;
  margin: 40px 15px 0 15px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px;
  
}

.title {
  text-align: center;
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.label {
  color: #666;
  font-size: 13px;
}

.bold {
  font-weight: 600;
}

.divider {
  height: 1px;
  background: #eee;
  margin: 10px 0;
}
#green_qr{
  height:35px;
  font-weight:900;
  line-height:35px;
  margin:5px;
  margin-left:80px;
}

.qr-btn {
  position:relative;
  display: block;
  width: 100%;
  padding: 2px;
  background: #c4f1c1;
  line-height:40px;
  outline:none;
  color: white;
  text-align: center;
  color:#00b02f;
  border-radius: 8px;
  margin-top: 16px;
  font-weight: 900;
  font-size:15px;
  cursor: pointer;
  display: flex;
}
.logo_container{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:10px;
  
}
#dtc_logo{
  height:30px;
  margin-top:10px;
  margin:10px;
}
#ondc{
  color:rgb(33, 114, 255);
  font-weight:650;
  font-family:arial
}
p{
  margin:5px;
}

.bottom-note {
  font-size: 15px;
  color: #999;
  text-align: center;
  margin-top: 15px;
  background-color: white;
  position:relative;
  top:190px;
  border-radius:4px;
}
.qr-popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.qr-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.close-btn {
  margin-top: 15px;
  padding: 8px 20px;
  border: none;
  background: #00b15c;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.top-bar span:last-child {
  cursor: pointer;
  
  font-weight: bold;
}

.qr-popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.qr-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 250px;
}

.close-btn {
  margin-top: 10px;
  padding: 8px 20px;
  border: none;
  background: #00b15c;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}


